

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    
    <a href="/users/logout" class="btn btn-secondary" style="display: inline; float: right;">Logout</a>
    <h1 class="mt-4">Dashboard</h1>
    <h3 style="margin: 25px 0;">Welcome <%= user.name %></h3>


    <h6 style="display: inline; margin-right: 20px; margin-bottom: 20%;">Your Goal: <%= task %></h6> <a href="/delete"><i class="fas fa-trash"></i></a>
    <form action="/dashboard" method="POST">
        <input type="text" name="goal" class="form-group" />
    <input type="submit" class="btn btn-primary">
</form>
</body>
</html>